erver/*~
webserver/*.log
webserver/*.swp
webserver/*.orig
webserver/.settings
webserver/.classpath
webserver/logs
webserver/target
webserver/target/test-reports
webserver/target/classes
webserver/bin
webserver/target-eclipse
webserver/web-app/WEB-INF/classes
webserver/.project
webserver/.classpath
webserver/.groovy
webserver/.idea
/.idea
webserver/out/
/out
nodejs/node_modules
webserver/projectFilesBackup/
webserver/*.ipr
webserver/*.iws
webserver/*.iml
webserver/*.iml
webserver/META-INF/
.DS_Store
webserver/.DS_Store
